<div class="surface-overlay py-3 px-6 transparent-menubar shadow-2 flex align-items-center justify-content-between">
    <a href=""><img src="../../../assets/images/logo.png" alt="Image" height="50"></a>
    <a class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" hideOnOutsideClick="true">
        <i class="pi pi-bars text-4xl"></i>
    </a>
    <div class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full left-0 top-100 px-6 lg:px-0 z-2 shadow-2 lg:shadow-none">
        <section></section>
        <ul class="list-none p-0 m-0 flex lg:align-items-center text-900 select-none flex-column lg:flex-row cursor-pointer">
            <li class="relative">
                <a pRipple (click)="servicesDiv()" class="flex px-0 lg:px-3 py-3 align-items-center hover:text-blue-600 font-medium transition-colors transition-duration-150" pStyleClass="@next" enterClass="hidden" enterActiveClass="scalein" leaveToClass="hidden" leaveActiveClass="fadeout"
                    hideOnOutsideClick="true">
                    <span class="text-sm">Design Gallery</span>
                </a>
            </li>
            <li>
                <a pRipple (click)="corporateDiv()" class="flex px-0 lg:px-3 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150">
                    <span class="text-sm">Modular Kitchen</span>
                </a>
            </li>
            <li>
                <a pRipple (click)="resourceDiv()" class="flex px-0 lg:px-3 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150">
                    <span class="text-sm">Bedroom</span>
                </a>
            </li>
            <li>
                <a pRipple (click)="pricingDiv()" class="flex px-0 lg:px-3 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150">
                    <span class="text-sm">Living Room</span>
                </a>
            </li>
            <li>
                <a pRipple (click)="contactDiv()" class="flex px-0 lg:px-3 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150">
                    <span class="text-sm">Space Saving Furniture</span>
                </a>
            </li>
            <li>
                <a pRipple (click)="contactDiv()" class="flex px-0 lg:px-3 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150">
                    <span class="text-sm">Home Office</span>
                </a>
            </li>
            <li>
                <a pRipple (click)="contactDiv()" class="flex px-0 lg:px-3 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150">
                    <span class="text-sm">Customer Stories</span>
                </a>
            </li>
        </ul>
        <div class="flex justify-content-between lg:block border-top-1 lg:border-top-none surface-border py-3 lg:py-0 mt-3 lg:mt-0">
            <button pButton pRipple type="button" label="Login" (click)="login()" class="p-button-text p-button-plain font-bold mr-2"></button>
            <button pButton pRipple type="button" label="Register" (click)="register()" class="p-button-raised font-bold p-button-danger"></button>
        </div>
    </div>
</div>


<div class="surface-section px-4 pb-6 md:px-6 lg:px-8" style="padding-top: 7rem;">
    <div class="ml-auto mr-auto">
        <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [numVisible]="5" [showThumbnails]="false" [showIndicators]="true">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center">
                    <img [src]="item.thumbnailImageSrc" style="display: block;" />
                </div>
            </ng-template>
            <ng-template pTemplate="caption" let-item>
                <h1 class="mb-2 text-white text-center">{{item.name}}</h1>
                <p-button label="Watch" class="ml-auto mr-auto flex justify-content-center align-items-center mt-4" icon="fa-solid fa-play"></p-button>
            </ng-template>
        </p-galleria>
    </div>

    <div class="text-center font-bold text-900 text-3xl mb-3">Most Popular Videos from Rehomy Library</div>
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3 p-3" *ngFor="let rehomy_library of rehomy_video_library">
            <div class="rehomy-library-item">
                <div class="rehomy-library-item-content">
                    <div class="mb-2">
                        <iframe height="150" src="https://www.youtube.com/embed/xMb1QBUlBF4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" class="rehomy-library-video w-full" allowfullscreen></iframe>
                    </div>
                    <div class="mb-2 ml-2">
                        <span [class]="'rehomy-library-badge status-'+rehomy_library.status.toLowerCase()">{{rehomy_library.status}}</span>
                        <p class="p-text-capitalize p-text-bold text-sm my-2">{{rehomy_library.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>