<p-toast></p-toast>

<div class="loading-indicator" *ngIf="ProgressSpinnerDlg">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8"
        animationDuration=".5s"></p-progressSpinner>
</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
    acceptButtonStyleClass="p-button-text p-button-success p-text-bold"
    rejectButtonStyleClass="p-button-text p-button-danger p-text-bold">
</p-confirmDialog>

<div class="relative px-6 py-8 overflow-hidden" *ngIf="forgot_password">
    <img src="../../assets/images/login.png" alt="Image" class="absolute top-0 left-0 w-auto h-100 block md:w-full">

    <div class="text-center my-8 mx-20 p-7 transparent-bg border-20 relative">
        <h1 class="text-2xl text-900 font-bold" style="margin-bottom: 1.30rem;">Forgot Password</h1>
        <p class="text-900 line-height-3 mb-6">Enter your email address and we will send you a link to reset your
            password.</p>

        <div class="flex align-items-center justify-content-center" [@slideInOut]>
            <form [formGroup]="forgotPassword">
                <input pInputText placeholder="Enter your email" formControlName="email"
                    class="p-3 border-noround border-round-left" autofocus style="min-width: 250px">
                <button pButton pRipple icon="pi pi-chevron-right" (click)="forgot_pass()"
                    class="border-noround border-round-right p-3 w-auto"></button>
            </form>
        </div>
    </div>
</div>

<div class="relative px-6 py-7 overflow-hidden" *ngIf="reset_password">
    <img src="../../assets/images/login.png" alt="Image" class="absolute top-0 left-0 w-auto h-100 block md:w-full">

    <div class="text-center my-4 mx-20 p-7 transparent-bg border-20 relative">
        <h1 class="text-2xl text-900 font-bold mb-4">Reset Password</h1>
        <p class="text-900 line-height-3 mb-5">To reset your password, enter the temporary password sent to your email
            address.
        </p>
        <div class="w-full">
            <div [@slideInOut]>
                <form [formGroup]="resetPassword">
                    <input type="password" id="tempPassword" pInputText placeholder="Temporary Password"
                        formControlName="tempPassword" class="p-3 border-noround border-round-left w-full mb-4"
                        autofocus>

                    <input type="password" id="newPassword" pInputText placeholder="New Password"
                        formControlName="newPassword" class="p-3 border-noround border-round-left w-full mb-4">

                    <button pButton pRipple label="Reset Password" (click)="reset_pass()"
                        class="border-noround border-round-right p-3 w-auto"></button>
                </form>
            </div>
        </div>

    </div>

</div>

<!-- <div class="align-items-center flex justify-content-center surface-ground vh-100" *ngIf="forgot_password">
    <div class="surface-card p-4 shadow-2 border-round lg:w-4">
        <div class="text-center">
            <img src="assets/images/logo.png" alt="Logo" class="w-32">
        </div>
        <div class="text-center mt-4">
            <h1 class="text-2xl font-bold">Forgot Password</h1>
            <p class="text-gray-600">Enter your email address and we will send you a link to reset your password.</p>
        </div>
        <div class="mt-4">
            <form [formGroup]="forgotPassword">
                <div class="p-fluid">
                    <div class="field">
                        <span class="p-float-label">
                            <input type="text" id="email" class="w-full" autofocus pInputText formControlName="email">
                            <label for="email">Email</label>
                        </span>
                    </div>
                </div>
                <div class="mt-4">
                    <button type="submit" pButton label="Send" class="w-full" (click)="send()"></button>
                </div>
            </form>
        </div>
    </div>
</div> -->

<!-- <div class="align-items-center flex justify-content-center surface-ground vh-100" *ngIf="reset_password">
    <div class="surface-card p-4 shadow-2 border-round lg:w-4">
        <div class="text-center">
            <img src="assets/images/logo.png" alt="Logo" class="w-32">
        </div>
        <div class="text-center mt-4">
            <h1 class="text-2xl font-bold">Reset Password</h1>
            <p class="text-gray-600">Enter your new password.</p>
        </div>
        <div class="mt-4">
            <form [formGroup]="resetPassword">
                <div class="p-fluid">
                    <div class="field">
                        <span class="p-float-label">
                            <input type="password" id="tempPassword" class="w-full" pInputText
                                formControlName="tempPassword">
                            <label for="tempPassword">Temporary Password</label>
                        </span>
                    </div>
                    <div class="field p-mt-5">
                        <span class="p-float-label">
                            <input type="password" id="newPassword" class="w-full" pInputText
                                formControlName="newPassword">
                            <label for="newPassword">New Password</label>
                        </span>
                    </div>
                </div>
                <div class="mt-5">
                    <button type="submit" pButton label="Reset Password" class="w-full"
                        [disabled]="!resetPassword.valid" (click)="reset_pass()"></button>
                </div>
            </form>
        </div>
    </div>
</div> -->
