:host ::ng-deep .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    background: none !important;
    border-color: none !important;
    color: none !important;
}

.pt-8
{
    padding-top: 6rem !important;
}

.transparent-menubar {
    position: absolute !important;
}

.limitTextHeight {
    height: 40px;
    overflow: hidden;
}

@media screen and (max-width: 576px)
{
    .filter-dropdown
    {
        padding-left: 0rem !important;
    }
}