.articles-nav:hover {
    color: var(--primary-color);
}

.featured-articles-caption {
    position: absolute;
    width: 660px;
    top: 4%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    line-height: 42px;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
    text-align: center;
}

.featured-articles-subcaption {
    position: absolute;
    top: 6.1%;
    width: 98.6%;
    color: #fff;
    z-index: 2;
    min-height: 77px;
    background-color: rgba(0, 0, 0, .5);
}

.p-button-white {
    color: #fff;
    border-color: #fff;
    font-weight: 600;
    padding: 10px 30px;
}

.p-button-white:hover {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: #fff !important;
}

.articles-list {
    border-bottom: 1px solid var(--surface-200);
    padding: 0.5rem 1rem;
}

.article-view-detail a:hover {
    color: var(--green-900);
}

.comments-count i:hover {
    color: var(--green-500) !important;
    cursor: pointer;
}