.articles-nav:hover {
    color: var(--primary-color);
}

.featured-articles-caption {
    position: absolute;
    width: 660px;
    top: 3%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    line-height: 42px;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
    text-align: center;
}

.featured-articles-subcaption {
    position: absolute !important;
    top: 5.44% !important;
    width: 96.8% !important;
    color: #fff !important;
    z-index: 2 !important;
    left: 2rem !important;
    min-height: 80px !important;
    background-color: rgba(0, 0, 0, 0.5);
}  

.p-button-white {
    color: #fff;
    border-color: #fff;
    font-weight: 600;
    padding: 10px 30px;
}

.p-button-white:hover {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: #fff !important;
}

.articles-list {
    border-bottom: 1px solid var(--surface-200);
    padding: 0.5rem 1rem;
}

.article-view-detail a:hover {
    color: var(--green-900);
}

.comments-count i:hover {
    color: var(--green-500) !important;
    cursor: pointer;
}

.right-article-background
{
    background-color: #fff;
}

.transparent-menubar {
    position: absolute !important;
}


@media screen and (max-width: 576px)
{
    .right-article 
    {
        padding-left: 0px !important;
    }

    .article-banner
    {
        display: none;
    }

    .article-content
    {
        padding-top: 1rem !important;
        padding-left: 0px !important;
    }

    .comments-count
    {
        margin-top: -1.2rem !important;
    }

    .right-article-section
    {
        padding-top: 3rem !important;
    }
}

@media screen and (max-width: 992px)
{
    .featured-articles-subcaption
    {
        position: absolute;
        top: 2.07% !important;
        left: 2.4% !important;
        width: 97.6% !important;
    }

    .right-article-section
    {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .article-content
    {
        padding-left: 0px !important;
        padding-top: 1rem !important;
    }

    .comments-count
    {
        margin-top: -1.2rem !important;
    }

    .article-image
    {
        padding-left: 0px !important;
    }

}

