<app-header></app-header>

<div class="surface-overlay transparent-menubar py-3 px-6 shadow-2 flex align-items-center justify-content-between">
    <a pRipple class="cursor-pointer flex align-items-center lg:hidden text-700 mr-3 sm:mr-5" pStyleClass="#nav-1"
        enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
        <i class="pi pi-bars text-4xl"></i>
    </a>
    <div class="flex align-items-center justify-content-center">
        <img src="../../../assets/images/logo.png" alt="Image" class="lg:mr-5 h-2rem sm:h-3rem" [routerLink]="['/']">
    </div>
    <ul class="list-none p-0 m-0 flex flex-column lg:flex-row">

        <li class="flex flex-column lg:flex-row">
            <a pRipple
                class="inline-flex align-items-center cursor-pointer border-right-2 lg:border-right-none lg:border-bottom-2 border-transparent 
                    hover:text-primary py-3 lg:py-0 px-6 lg:px-2 text-700 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto"
                pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
                <span>What We Do</span>
                <i class="pi pi-angle-down ml-auto lg:ml-1 text-base"></i>
            </a>
            <div
                class="surface-overlay shadow-none lg:shadow-2 hidden lg:absolute top-100 pl-8 pr-6 lg:px-4 py-0 lg:py-4">
                <div class="flex flex-column lg:flex-row lg:justify-content-between">
                    <a pStyleClass="@next" enterClass="hidden" leaveToClass="hidden"
                        class="font-medium text-700 text-lg cursor-pointer block lg:hidden mb-3 select-none">Clothing</a>
                    <ul class="list-none py-0 pr-0 lg:pl-0 pl-5 m-0 text-700 hidden lg:block">
                        <li class="mb-3 cursor-pointer hover:text-primary"
                            [routerLink]="['/home-renovations-and-remodelling']">Home renovations and remodelling</li>
                        <li class="mb-3 cursor-pointer hover:text-primary" [routerLink]="['/rehomy-experience']">A
                            better renovation experience</li>
                        <li class="mb-3 cursor-pointer hover:text-primary" [routerLink]="['/why-choose-us']">Why we're
                            the best option</li>
                    </ul>
                </div>
            </div>
        </li>

        <li class="flex flex-column lg:flex-row">
            <a pRipple
                class="inline-flex align-items-center cursor-pointer border-right-2 lg:border-right-none lg:border-bottom-2 border-transparent 
                    hover:text-primary py-3 lg:py-0 px-6 lg:px-2 text-700 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto"
                pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
                <span>Products</span>
                <i class="pi pi-angle-down ml-auto lg:ml-1 text-base"></i>
            </a>
            <div
                class="surface-overlay shadow-none lg:shadow-2 hidden lg:absolute w-full left-0 top-100 pl-8 pr-6 lg:px-6 py-0 lg:py-6">
                <div class="flex flex-column lg:flex-row lg:justify-content-between">
                    <a pStyleClass="@next" enterClass="hidden" leaveToClass="hidden"
                        class="font-medium text-700 text-lg cursor-pointer block lg:hidden mb-3 select-none">Clothing</a>
                    <ul class="list-none py-0 pr-0 lg:pl-0 pl-5 m-0 text-700 hidden lg:block">
                        <li class="font-semibold mb-5 text-xl text-900 hidden lg:block">Living</li>
                        <li class="mb-3 cursor-pointer hover:text-primary">Coffee & Side tables</li>
                        <li class="mb-3 cursor-pointer hover:text-primary">ArmChairs</li>
                        <li class="mb-3 cursor-pointer hover:text-primary">Sofas</li>
                        <li class="mb-3 cursor-pointer hover:text-primary">Accessories & Decor</li>
                        <li class="mb-3 cursor-pointer hover:text-primary font-semibold"
                            (click)="roomType('living room')">View All</li>
                    </ul>
                    <a pStyleClass="@next" enterClass="hidden" leaveToClass="hidden"
                        class="font-medium text-700 text-lg cursor-pointer block lg:hidden mb-3 select-none">Shoes</a>
                    <ul class="list-none py-0 pr-0 lg:pl-0 pl-5 m-0 text-700 hidden lg:block">
                        <li class="font-semibold mb-5 text-xl text-900 hidden lg:block">Bedroom</li>
                        <li class="mb-3 cursor-pointer hover:text-primary">Beds & Headboards</li>
                        <li class="mb-3 cursor-pointer hover:text-primary">Bedside Tables</li>
                        <li class="mb-3 cursor-pointer hover:text-primary">Chests of Drawers</li>
                        <li class="mb-3 cursor-pointer hover:text-primary">Wardrobes</li>
                        <li class="mb-3 cursor-pointer hover:text-primary font-semibold" (click)="roomType('bedroom')">
                            View All</li>
                    </ul>
                    <a pStyleClass="@next" enterClass="hidden" leaveToClass="hidden"
                        class="font-medium text-700 text-lg cursor-pointer block lg:hidden mb-3 select-none">Accessories</a>
                    <ul class="list-none py-0 pr-0 lg:pl-0 pl-5 m-0 text-700 hidden lg:block">
                        <li class="font-semibold mb-5 text-xl text-900 hidden lg:block">Kitchen</li>
                        <li class="mb-3 cursor-pointer hover:text-primary">Dtialng Chairs</li>
                        <li class="mb-3 cursor-pointer hover:text-primary">Dining Tables</li>
                        <li class="mb-3 cursor-pointer hover:text-primary">Bar Stoots</li>
                        <li class="mb-3 cursor-pointer hover:text-primary">Kitchen & Dining Furniture</li>
                        <li class="mb-3 cursor-pointer hover:text-primary font-semibold" (click)="roomType('kitchen')">
                            View All</li>
                    </ul>
                    <a pStyleClass="@next" enterClass="hidden" leaveToClass="hidden"
                        class="font-medium text-700 text-lg cursor-pointer block lg:hidden mb-3 select-none">Jewelry</a>
                    <ul class="list-none py-0 pr-0 lg:pl-0 pl-5 m-0 text-700 hidden lg:block">
                        <li class="font-semibold mb-5 text-xl text-900 hidden lg:block">Bathroom</li>
                        <li class="mb-3 cursor-pointer hover:text-primary">Bathroom Cabinets</li>
                        <li class="mb-3 cursor-pointer hover:text-primary">Bathroom Accessories</li>
                        <li class="mb-3 cursor-pointer hover:text-primary">Bathroom Vanity Units</li>
                        <li class="mb-3 cursor-pointer hover:text-primary">Bathroom Mirrors</li>
                        <li class="mb-3 cursor-pointer hover:text-primary font-semibold" (click)="roomType('bathroom')">
                            View All</li>
                    </ul>
                    <a pStyleClass="@next" enterClass="hidden" leaveToClass="hidden"
                        class="font-medium text-700 text-lg cursor-pointer block lg:hidden mb-3 select-none">Brands</a>
                    <ul class="list-none py-0 pr-0 lg:pl-0 pl-5 m-0 text-700 hidden lg:block">
                        <li class="font-semibold mb-5 text-xl text-900 hidden lg:block">Furniture</li>
                        <li class="mb-3 cursor-pointer hover:text-primary">Living Room</li>
                        <li class="mb-3 cursor-pointer hover:text-primary">Kitchen & Dining</li>
                        <li class="mb-3 cursor-pointer hover:text-primary">Bedroom</li>
                        <li class="mb-3 cursor-pointer hover:text-primary">Bathroom</li>
                        <li class="mb-3 cursor-pointer hover:text-primary font-semibold">View All</li>
                    </ul>
                </div>
            </div>
        </li>

        <li class="flex flex-column lg:flex-row">
            <a pRipple
                class="inline-flex align-items-center cursor-pointer border-right-2 lg:border-right-none lg:border-bottom-2 border-transparent 
                    hover:text-primary py-3 lg:py-0 px-6 lg:px-2 text-700 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto"
                pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
                <span>Testimonials</span>
            </a>
        </li>

        <li class="flex flex-column lg:flex-row">
            <a pRipple
                class="inline-flex align-items-center cursor-pointer border-right-2 lg:border-right-none lg:border-bottom-2 border-transparent 
                    hover:text-primary py-3 lg:py-0 px-6 lg:px-2 text-700 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto"
                pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
                <span>Locations</span>
            </a>
        </li>

        <li class="flex flex-column lg:flex-row">
            <a pRipple
                class="inline-flex align-items-center cursor-pointer border-right-2 lg:border-right-none lg:border-bottom-2 border-transparent 
                    hover:text-primary py-3 lg:py-0 px-6 lg:px-2 text-700 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto"
                pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
                <span>People</span>
            </a>
        </li>

        <li class="flex flex-column lg:flex-row">
            <a pRipple
                class="inline-flex align-items-center cursor-pointer border-right-2 lg:border-right-none lg:border-bottom-2 border-transparent 
                    hover:text-primary py-3 lg:py-0 px-6 lg:px-2 text-700 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto"
                pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
                <span>Get In Touch</span>
                <i class="pi pi-angle-down ml-auto lg:ml-1 text-base"></i>
            </a>
            <div
                class="surface-overlay shadow-none lg:shadow-2 hidden lg:absolute top-100 pl-8 pr-6 lg:px-4 py-0 lg:py-4">
                <div class="flex flex-column lg:flex-row lg:justify-content-between">
                    <a pStyleClass="@next" enterClass="hidden" leaveToClass="hidden"
                        class="font-medium text-700 text-lg cursor-pointer block lg:hidden mb-3 select-none">Clothing</a>
                    <ul class="list-none py-0 pr-0 lg:pl-0 pl-5 m-0 text-700 hidden lg:block">
                        <li class="mb-3 cursor-pointer hover:text-primary" [routerLink]="['/contact-us']">Rehomy Enquiry
                        </li>
                        <li class="mb-3 cursor-pointer hover:text-primary" [routerLink]="['/business-opportunities']">
                            Business opportunities</li>
                        <li class="mb-3 cursor-pointer hover:text-primary" [routerLink]="['/career-opportunities']">
                            Career Opportunities</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>

    <div class="flex ml-auto">
        <ul class="list-none p-0 m-0 flex">
            <li class="flex">
                <a pRipple
                    class="text-900 font-medium inline-flex align-items-center cursor-pointer px-2 sm:px-2 text-700 hover:text-primary">
                    <i class="pi pi-search mr-2 lg:mr-2 text-xl sm:text-base"></i>
                    <span class="hidden lg:inline">Search</span>
                </a>
            </li>
            <li class="flex">
                <a pRipple
                    class="text-900 font-medium inline-flex align-items-center cursor-pointer px-2 sm:px-2 text-700 hover:text-primary">
                    <i class="pi pi-heart mr-2 lg:mr-2 text-xl sm:text-base"></i>
                    <span class="hidden lg:inline">Favorites</span>
                </a>
            </li>
            <li class="flex">
                <a pRipple
                    class="text-900 font-medium inline-flex align-items-center cursor-pointer px-2 sm:px-2 text-700 hover:text-primary">
                    <i class="pi pi-shopping-cart lg:mr-2 text-xl sm:text-base" pBadge></i>
                    <span class="hidden lg:inline">Cart</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="relative px-6 pb-8 pt-3 overflow-hidden">
    <img src="../../../assets/images/banners/home-renvations.png" alt="Image"
        class="testing-banner absolute left-0 w-auto h-90 mt-7 block md:w-full" style="width: 100% !important;">

    <div class="text-left my-8 mx-0 p-7 mt-4 relative">
        <!-- <div class="banner_text text-4xl text-primary p-text-capitalize font-bold mb-1 text-left">Our renovation services</div> -->
    </div>
</div>

<div class="px-4 py-6 md:px-6 lg:px-8 h-full">
    <div class="text-900 mb-3 text-center text-4xl font-bold">Start your project with Rehomy</div>
    <div class="text-700 text-sm text-center">Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna.
    </div>
    <div class="grid mt-2">
        <div class="home-spacing col-12 md:col-4 lg:col-4 p-5" *ngFor="let project of projects">
            <div class="shadow-1 p-4 surface-card text-center">
                <!-- <div class="border-circle bg-blue-50 p-4 text-blue-600 inline-flex justify-content-center align-items-center mb-4"> -->
                <!-- <i class="pi pi-heart text-5xl "></i> -->
                <img class="home-images -mt-1" src="assets/images/home_renovations/{{project.icon}}" height="180"
                    width="180">
                <!-- </div> -->
                <div class="home-title text-900 font-medium text-2xl -mt-4 mb-3 text-primary font-bold">
                    {{project.title}}</div>
                <div class="text-700 text-sm mb-4 line-height-3">{{project.subtitle}}</div>
                <button pButton pRipple label="How we help" class="p-button-text font-bold hover:text-primary"></button>
            </div>
        </div>
    </div>
</div>

<!-- <p-divider></p-divider> -->

<!-- <div class="surface-section px-4 py-3 md:px-6 lg:px-8">
    <div [ngClass]="{'limitTextHeight': isReadMore}">
    The kitchen and dining room are the two rooms that require the most products – if you want to start cooking up a
    storm and hosting the best dinner parties, you’ll need quite a few essential kitchen and dining products to get
    started. For everything from kitchen tiles, lighting and storage to kitchen knives, gadgets, tableware and bakeware,
    take a look at the selection on Rehomy to help you start creating your culinary. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    <br><br>

    The kitchen and dining room are the two rooms that require the most products – if you want to start cooking up a
    storm and hosting the best dinner parties, you’ll need quite a few essential kitchen and dining products to get
    started.
    </div>

    <a (click)="showText()" class="text-primary">
        {{ isReadMore ? 'Read More...': 'Read Less' }}
    </a> -->

<!-- <p-accordion [activeIndex]="0">
        <p-accordionTab header="Read More">
            <div class="line-height-3">Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>
        </p-accordionTab>
    </p-accordion> -->
<!-- </div> -->

<p-divider></p-divider>

<div class="surface-section px-4 py-1 md:px-6 lg:px-8">
    <div class="flex align-items-start lg:align-items-center lg:justify-content-between pb-5 flex-column lg:flex-row">
        <div class="flex align-items-center text-center mx-auto">
            <img class="modal-image" src="../../../assets/images/logo.png" alt="Image" height="50">
            <p class="text-600 text-xm ml-0 mb-0 mt-2 pl-3">Consequat nisl vel pretium lectus quam. Scelerisque eu
                ultrices
                vitae auctor eu augue ut lectus arcu. Integer quis auctor elit sed.</p>
        </div>
    </div>
    <div class="py-3 border-bottom-1 border-300">
        <div class="grid">
            <div class="col-12 sm:col-6 md:col-4 lg:col-2">
                <span class="text-900 block font-bold line-height-3 mb-3">Company</span>
                <ul class="list-none p-0 m-0">
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">About Us</a>
                    </li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">News</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">Investor
                            Relations</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">Careers</a>
                    </li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">Media Kit</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 sm:col-6 md:col-4 lg:col-2">
                <span class="text-900 block font-bold line-height-3 mb-3">Resources</span>
                <ul class="list-none p-0 m-0">
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">Get Started</a>
                    </li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">Learn</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">Case
                            Studies</a></li>
                </ul>
            </div>
            <div class="col-12 sm:col-6 md:col-4 lg:col-2">
                <span class="text-900 block font-bold line-height-3 mb-3">Developer</span>
                <ul class="list-none p-0 m-0">
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">Courses</a>
                    </li>
                    <li class="mb-2"><a
                            class="text-700 cursor-pointer line-height-3 hover:text-primary">Documentation</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">API
                            Reference</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">Status</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">Papers</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">Development
                            Blog</a></li>
                </ul>
            </div>
            <div class="col-12 sm:col-6 md:col-4 lg:col-2">
                <span class="text-900 block font-bold line-height-3 mb-3">Community</span>
                <ul class="list-none p-0 m-0">
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">Discord</a>
                    </li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">Events</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">FAQ</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">Blog</a></li>
                </ul>
            </div>
            <div class="col-12 sm:col-6 md:col-4 lg:col-2">
                <span class="text-900 block font-bold line-height-3 mb-3">Connect</span>
                <ul class="list-none p-0 m-0">
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">Newsletters</a>
                    </li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">Press</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">Code of
                            Conduct</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">Security
                            Guide</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">Bug Bounty</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 sm:col-6 md:col-4 lg:col-2">
                <span class="text-900 block font-bold line-height-3 mb-3">Legal</span>
                <ul class="list-none p-0 m-0">
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">Brand
                            Policy</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">Privacy
                            Policy</a></li>
                    <li class="mb-2"><a class="text-700 cursor-pointer line-height-3 hover:text-primary">Terms of
                            Service</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center py-1">
        <a class="mr-5 text-sm text-600 cursor-pointer">&copy; 2022 REHOMY</a>
    </div>
</div>