.browse-room-item,
.browse-by-style-item {
    .browse-room-item-content,
    .browse-by-style-content {
        border: 1px solid var(--surface-d);
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        background-color: #fff;
    }
    .browse-room-image,
    .browse-by-style-image {
        width: 100%;
    }
}

.latest-design-item,
.rehomy-library-item {
    .latest-design-item-content,
    .rehomy-library-item-content {
        border: 1px solid var(--surface-d);
        border-radius: 3px;
        margin: .3rem;
        text-align: left;
        background-color: #fff;
    }
    .latest-design-image,
    .rehomy-library-video {
        width: 100%;
    }
}

.latest-design-badge,
.rehomy-library-badge {
    border-radius: 2px;
    padding: .25em .5rem !important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.latest-design-badge.status-popular,
.rehomy-library-badge.status-rehomy {
    background: #c2eff5;
    color: #2196f3;
    text-align: center;
}

.px-32 {
    padding-left: 3.2rem !important;
    padding-right: 3.2rem !important;
}

.f-articles:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--blue-800);
}

df-messenger {
    --df-messenger-button-titlebar-color: var(--primary-color);
    --df-messenger-chat-background-color: #fff;
}

:host ::ng-deep div.chat-wrapper {
    height: 300px !important;
}

:host ::ng-deep .p-galleria .p-galleria-indicators .p-galleria-indicator.p-highlight button {
    background: var(--primary-color);
}

:host ::ng-deep .p-galleria .p-galleria-indicators .p-galleria-indicator button {
    width: 2rem;
    height: 2rem;
}

:host ::ng-deep .p-galleria.p-galleria-indicators-bottom .p-galleria-indicator {
    margin-right: 4.5rem;
}

.circled-number {
    color: #666;
    border: 2px solid #666;
    border-radius: 50%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em; 
    height: 2em;
  }

@media screen and (max-width: 576px)
{
    .p-carousel h2
    {
         font-size: 20px !important;
    }

    .text-right
    {
        text-align: center !important;
    }

   .mx-20 {
        margin-left: -2rem!important;
        margin-right: -2rem!important;
    }

    // .text-5xl {
    //     font-size: 1.3rem !important;
    // }
    .banner-head1 .banner-head2
    {
        font-size: 1.4rem !important;
    }

    .banner-img {
        width: 100% !important;
    }

    #resources_section
    {
        text-align: center;
    }

    .h-90
    {
        height: 80% !important;
    }

    .py-8 {
        padding-top: 1rem !important;
    }

    .banner-button
    {
        font-size: 10px;
    }

    .text-sm {
        font-size: 1.4rem!important;
    }

    .fa-solid
    {
        font-size: 5rem !important;
    }

    // .font-medium
    // {
    //     font-size: 2rem !important;
    // }

    .solution-title
    {
        font-size: 1.5rem !important;
    }

    .room-label
    {
        font-size: 1.4rem !important;
    }

    .f-articles
    {
        font-size: 0.9rem !important;
    }

    .get-started
    {
        font-size: 1.6rem !important;
    }

    .text-700
    {
        font-size: 1.5rem !important;
    }

    .text-600
    {
        font-size: 1.5rem !important;
    }

    .text-bold
    {
        font-size: 2rem !important;
    }

    .p-carousel .p-carousel-indicators {
        margin-bottom: 3rem !important;
    }

    .footer-logo
    {
        width: 60%;
        height: 20%;
    }

    .banner-button
    {
        font-size: 1.2rem !important;
    }

    .pi-envelope .submit-button
    {
        font-size: 1.5rem;
    }

    :host ::ng-deep .p-galleria.p-galleria-indicators-bottom .p-galleria-indicator {
        margin-right: 2.2rem !important;
    }

    // :host ::ng-deep .p-galleria-item-wrapper {
    //     position: relative !important;
    //     top: -4rem !important;
    //     left: -8rem !important;
    // }

    .step-section
    {
        display: none !important;
    }

    .right-step
    {
        padding-top: 25% !important;
        padding-left: -9%;
        text-align: left;
    }

    .left-step
    {
        display: none !important;
    }

    .take-step
    {
        margin-top:2rem;
    }

    // .step-right-section
    // {
    //     padding-left: 2.5rem !important;
    // }

    .transparent-menubar {
        position: absolute !important;
    }
}

@media screen and (max-width: 768px)
{

    .banner-img {
        width: 100% !important;
    }

    // .text-5xl {
    //     font-size: 1.1rem !important;
    // }

    .banner-head1 .banner-head2
    {
        font-size: 1.1rem !important;
    }

    .p-carousel h2{
        font-size: 20px !important;
    }

    .mx-20 {
        margin-left: -1rem!important;
        margin-right: -1rem!important;
    }

    .banner-button
    {
        font-size: 1.2rem !important;
    }

    .text-sm {
        font-size: 1.4rem!important;
    }

    .text-bold
    {
        font-size: 2rem !important;
    }

    .p-carousel .p-carousel-indicators {
        margin-bottom: 3rem !important;
    }

    .footer-logo
    {
        width: 60%;
        height: 20%;
    }

    .pi-envelope .submit-button
    {
        font-size: 1.5rem;
    }

    :host ::ng-deep .p-galleria.p-galleria-indicators-bottom .p-galleria-indicator {
        margin-right: 2.2rem !important;
    }

    .kitchen-img .step-section
    {
        display: none !important;
    }

    .right-step
    {
        padding-top: 25% !important;
        padding-left: -9%;
        text-align: left;
    }

    .left-step
    {
        display: none !important;
    }

    .take-step
    {
        margin-top:2rem;
    }

    .transparent-menubar {
        position: absolute !important;
    }
}

@media screen and (max-width: 992px)
{

    .banner-img {
        width: 100% !important;
    }

    .p-carousel h2{
        font-size: 20px !important;
    }

    .mx-20 {
        // margin-left: 5rem!important;
        // margin-right: 5rem!important;
        margin-left: -1rem!important;
        margin-right: -1rem!important;
    }

    .text-down
    {
        font-size: 2.3rem !important;
    }

    .banner-button
    {
        font-size: 1rem !important;
    }

    .text-sm {
        font-size: 1.2rem!important;
    }

    .text-bold
    {
        font-size: 1.4rem !important;
    }

    .p-carousel .p-carousel-indicators {
        margin-bottom: 3rem !important;
    }

    .footer-logo
    {
        width: 60%;
        height: 20%;
    }

    .pi-envelope .submit-button
    {
        font-size: 1.5rem;
    }

    :host ::ng-deep .p-galleria.p-galleria-indicators-bottom .p-galleria-indicator {
        margin-right: 2.2rem !important;
    }
    
    .step-section
    {
        display: none !important;
    }

    .take-step
    {
        margin-top:2rem !important;
    }

    .transparent-menubar {
        position: absolute !important;
    }

}

@media screen and (max-width: 1200px)
{
    .text-4xl
    {
        font-size: 2.5rem !important;
    }

    .p-carousel h2{
        font-size: 20px !important;
    }

    .mx-20 {
        margin-left: -1rem!important;
        margin-right: -1rem!important;
    }

    .my-8 {
        margin-top: 10rem!important;
        margin-bottom: 5rem!important;
    }

    // .text-5xl {
    //     font-size: 1.1rem!important;
    // }
    .banner-head1 .banner-head2
    {
        font-size: 1.4rem !important;
    }

    .font-medium
    {
        font-size: 2rem;
    }

    .text-sm {
        font-size: 1.2rem!important;
    }

    .get-started
    {
        font-size: 1.9rem !important;
    }

    .p-button.p-button-rounded {
        border-radius: 1rem;
    }

    .fa-solid
    {
        font-size: 3.5rem !important;
    }

    .room-label
    {
        font-size: 1.8rem;
    }

    .text-bold
    {
        font-size: 2.5rem;
    }

    .banner-button
    {
        font-size: 1.9rem;
    }

    .py-4 {
        padding-top: 3.5rem!important;
    }

    .f-articles
    {
        font-size: 1.5rem;
    }

    .product-subheading
    {
        font-size: 2rem !important;
    }

    .enpower
    {
        font-size: 1.5rem !important;
    }

    .breaking-records
    {
        font-size: 2rem !important;
    }

    .transparent-menubar {
        position: absolute !important;
    }
    
}

.transparent-menubar {
    position: absolute !important;
}

.step-title 
{
    position: absolute;
    top: 6rem;
    left: 1rem;
    font-size: 1.6rem;
}

.step-subtitle
{
    position: absolute;
    top: 7rem;
    left: 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

:host ::ng-deep .p-galleria-item-wrapper {
    position: relative;
    top: -8.4rem;
}

:host ::ng-deep .expand
{
    width: 100% !important;
}

.right-step
{
    padding-left: 10%;
    text-align: left;
}

.browse-room-item-content:hover
{
    box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12) !important;
}

.latest-design-item-content:hover 
{
    box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12) !important;
}

.browse-by-style-content:hover
{
    box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12) !important;
}

.rehomy-library-item-content:hover
{
    box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12) !important;
}


.browse-room-item 
{
    cursor: pointer !important;
}

.breaking-records:hover
{
    box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12) !important;
}


  