<df-messenger intent="WELCOME" chat-icon="https://cdn-icons-png.flaticon.com/512/6540/6540769.png"
    chat-title="customer-chatbot" agent-id="ea747d4a-67f9-488c-82aa-2f0fb10ccfdf" language-code="en"></df-messenger>
    
<div class="layout-footer">
    <div class="footer-logo-container">
        <img id="footer-logo" src="../assets/images/footer.png" alt="rehomy-layout" />
        <span class="app-name">ReHomy</span>
    </div>
    <span class="copyright">&#169; Your Organization - 2022</span>
</div>
